<?xml version='1.0' encoding='utf-8'?>
<widget 
    android-versionCode="202009241757" 
    id="com.lexcrt.app" 
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
>
    <name>CRM ANALYST</name>
    <description>
        CRM ANALYST
    </description>
    <author email="lexcrt@gmail.com" href="http://cordova.io">
       Cristiano Santana
    </author>
    <content src="index.html" />
    <access origin="*" subdomains="true" />
    <access origin="https://codepush.azurewebsites.net" />
    <access origin="https://codepush.blob.core.windows.net" />
    <access origin="https://codepushupdates.azureedge.net" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="file:///" />
    <allow-navigation href="file:///" />
    <allow-navigation href="data:*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <platform name="android">
        <preference name="APP_SECRET" value="397a2484-79f2-4748-84f6-7dca05920d51" />
        <preference name="APPCENTER_ANALYTICS_ENABLE_IN_JS" value="true" />
        <preference name="CodePushDeploymentKey" value="BghIV59xE0ThI5lhlrN_aRANk5NJBJbBtW2VsN" />
        <preference name="APPCENTER_CRASHES_ALWAYS_SEND" value="true" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#ffffff" />
        <preference name="StatusBarStyle" value="default" />
        <allow-intent href="market:*" />
        <preference name="Orientation" value="portrait" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <preference name="APP_SECRET" value="edd2d1ba-707d-4e2c-8945-da01d017ff53" />
        <preference name="APPCENTER_ANALYTICS_ENABLE_IN_JS" value="true" />
        <preference name="CodePushDeploymentKey" value="0kZDMZVSjxF0ptJd9GKlN970Xaq-BJlIS2NsN" />
        <preference name="APPCENTER_CRASHES_ALWAYS_SEND" value="true" />
        <preference name="pods_ios_min_version" value="10.0" />
        <preference name="pods_use_frameworks" value="true" />
        <preference name="deployment-target" value="10.0" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarStyle" value="default" />
        <preference name="Orientation" value="portrait" />
        <preference name="android-build-tool" value="gradle" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="87" src="res/icon/ios/icon-29@3x.png" width="87" />
        <icon height="57" src="res/icon/ios/icon.png" width="57" />
        <icon height="114" src="res/icon/ios/icon@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="167" src="res/icon/ios/icon-167.png" width="167" />
        <icon height="29" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="167" src="res/icon/ios/icon-83.5@2x.png" width="167" />
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
        <splash height="480" src="res/screen/ios/Default~iphone.png" width="320" />
        <splash height="768" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="828" src="res/screen/ios/xr_828.png" width="1792" />
        <splash height="960" src="res/screen/ios/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="res/screen/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="1125" src="res/screen/ios/iPhoneX_LaunchScreen.png" width="2436" />
        <splash height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1242" src="res/screen/ios/xsmax_1242.png" width="2688" />
        <splash height="1334" src="res/screen/ios/Default-667h.png" width="750" />
        <splash height="1536" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="2048" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="2208" src="res/screen/ios/Default-736h.png" width="1242" />
        <splash height="1242" src="res/screen/ios/Default-736h.png" width="2208" />
        <splash height="2436" src="res/screen/ios/xs_1125.png" width="1125" />
        <custom-preference name="ios-XCBuildConfiguration-PODS_PODFILE_DIR_PATH" value="${SRCROOT}/." />
        <custom-preference name="ios-XCBuildConfiguration-PODS_ROOT" value="${SRCROOT}/Pods" />
    </platform>
    <plugin name="cordova-plugin-device" spec="~2.0.2" />
    <plugin name="cordova-plugin-add-swift-support" spec="^2.0.2" />
    <engine name="ios" spec="~4.5.5" />
</widget>
