.theme-tab {
  &.v-tabs {
    .v-tab {
      border-radius: $border-radius-root !important;
      min-width: auto !important;
      &.v-tab-item--selected {
        background: rgb(var(--v-theme-primary));
      }
    }
  }
}
